.title-meaning {
    -fx-text-fill: -title-color;
    -fx-font-size: 20;
    -fx-font-weight: bold;
}
.button-speak {
    -fx-background-image: url("file:/D:/demo/demo/src/main/resources/normal/speak.png");
    -fx-background-size: 22;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 28;
    -fx-pref-height: 28;
    -fx-background-color: none;
}
.button-speak:hover {

    -fx-background-image: url("file:/D:/demo/demo/src/main/resources/hover/speak.png");
    -fx-background-color: none;
}
.button-save {
    -fx-graphic: url('file:/D:/demo/demo/src/main/resources/normal/save.png');
    -fx-background-color: none;
}

.button-save:hover {
    -fx-graphic: url('file:/D:/demo/demo/src/main/resources/hover/save.png');
}
.text-lang-first {
    -fx-text-fill: #283583;
    -fx-font-size: 11;
    -fx-font-weight: bold;
}

.text-lang-second {
    -fx-text-fill: #C91352;
    -fx-font-size: 11;
    -fx-font-weight: bold;

}
.button-edit {
    -fx-graphic: url('file:/D:/demo/demo/src/main/resources/normal/edit.png');
     -fx-background-color: none;
}

.button-edit:hover {
    -fx-graphic: url('file:/D:/demo/demo/src/main/resources/hover/edit.png');
}

.button-remove {
    -fx-graphic: url('file:/D:/demo/demo/src/main/resources/normal/remove.png');
     -fx-background-color: none;
}

.button-remove:hover {
    -fx-graphic: url('file:/D:/demo/demo/src/main/resources/hover/remove.png');
}

.button-favourite {
    -fx-graphic: url('file:/D:/demo/demo/src/main/resources/normal/favourite.png');
    -fx-background-color: none;
}

.button-favourite:hover {
    -fx-graphic: url('file:/D:/demo/demo/src/main/resources/hover/favourite.png');
}

.button-favourite.active {
    -fx-graphic: url('file:/D:/demo/demo/src/main/resources/hover/favourite.png');
}
.button-cancel {
     -fx-background-color: none;
}
.rounded-button {
    -fx-background-radius: 20;
    -fx-border-radius: 20;
}
.title-meaning1 {
     -fx-text-fill: #ffffff;
     -fx-font-size: 20;
     -fx-font-weight: bold;
     -fx-background-color: none;
 }
.list-cell:selected {
     -fx-background-color:  #151e4f; /* Màu sắc của các mục được chọn */
     -fx-text-fill: white; /* Màu văn bản của các mục được chọn */
}